/* Googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Jersey+15&family=Pixelify+Sans:wght@400..700&display=swap');

/* Asteriks wild card selector to override all default styles added by the browser. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles*/
    color:#3a3a3a;
    font-family: "Pixelify Sans",sans-serif;
}


/* Header */
header {
    background-color:#ffffff;
    padding:0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Jersey 15", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:chartreuse;
}

#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type:none; 
    color:blue;
}

#menu {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid chartreuse;
}

/* Navigation Bar Dropdown Toggle */

nav {
    position:absolute;
    background-color: #ffffff;
    padding: 0 1rem; 
    box-shadow: 0 2px 2px #3a3a3a;
    width:100%;
    left: 0; 
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* Main Content */
main {
    background-color:orange;
    /* Make main element take any surplus space to put down footer*/
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Footer */
footer {
    background-color:aqua 
}

/* Media querie: tablet and larger*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: :fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display:none; 
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem; 
    }

    /* Main Content*/
    main {
        /*Push main content down to accomodate for larger header */
        margin-top: 150px;
    }

}
    